*{
    margin: 0px;
    padding: 0px;
}


.Symbi_Img{
    position: relative;
    display: flex;
    align-items: center;
   
}

.backImg{
    position: relative;

    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,black,transparent);
        opacity: 0.9;
    }

    .image-fluid{
        filter: grayscale(1);
    }
}

.img-fluid{

}

.img-fluid::before{
    background-image: linear-gradient(to right,#1e1e1e , transparent);
    content: " ";
    opacity: 0.6;
}
.gradfill{
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to right,#1e1e1e , transparent);
}
.Opening_txt{
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    text-align: left;
    font-size: 3em;
    /* bottom: 12em; */
    left: 1em;
    color: #EEEEEE;
    /* apply linear gradient using toright from left to right and choose colour as needed */
    float: left;
    width:50%;
}

.crousel_a{
    margin: 3em;
    /* fit-content :- height adjust as content changes */
    height: fit-content;
    background-color: #B0DEFF;
    border-radius: 20px;
    text-align: center;
}

.content{
    padding: 20px;
    /* float: left; */
}

.carousel{
    width: 50%;
    margin: auto;
}
.Gal{
    text-align: center;
}