*{
    margin: 0px;
    padding: 0px;
}


.Symbi_Img{
    position: relative;
    display: flex;
    align-items: center;
   
}
/* to apply linear gradient */
.backImg{
    position: relative;

    &::after{
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right,black,transparent);
        opacity: 0.9;
    }

    .image-fluid{
        filter: grayscale(1);
    }
}

.Opening_txt{
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    text-align: left;
    font-size: 3em;
    /* bottom: 12em; */
    left: 1em;
    color: #EEEEEE;
    /* apply linear gradient using toright from left to right and choose colour as needed */
    float: left;
    width:50%;
}

.crousel_a{
    margin: 3em;
    /* fit-content :- height adjust as content changes */
    height: fit-content;
    background-color: #B0DEFF;
    border-radius: 20px;
    text-align: center;
}

.content{
    padding: 20px;
    /* float: left; */
}

.carousel{
    width: 50%;
    margin: auto;
}
.Gal{
    text-align: center;
}

.w-100{
    border-radius: 20px;
}

.team-img{
    width: 65%;
}

.section-white{
    background: #fff;
    padding: 70px 0;

}

.team-item{
    background: #f4f5f6;
    text-align: center;
    margin: 20px 0;
    padding: 50px 20px 40px 20px;
    border-radius: 8px 8px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.team-item:hover{
    background: #3956de;
    color: white;
}

.team-item h3{
    margin: 20px 0 1px 0 !important;
    color: #454545;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.section-subtitle{
    white-space: pre-line;
}

.team-item:hover h3{
    color: #ddd;

}

.team-info{
    display: block;
    margin-bottom: 0;
}

.team-info p{
    color: #acacac;
    /* font-style: italic; */
}

.team-info::after{
    background: #008aff;
    background: -webkit-linear-gradient(135deg,#6b02ff 0%,#985bef 100%);
    background: -o-linear-gradient(135deg,#6b02ff 0%,#985bef 100%);
    background: -moz-linear-gradient(135deg,#6b02ff 0%,#985bef 100%);
    background: linear-gradient(135deg,#6b02ff 0%,#985bef 100%);
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 50px;
    margin-top: -20px;
    
}