*{
    margin: 0px;
    padding: 0;
}
img{
    /* height: 10; */
    width: 5%;
    /* margin-left: 1em; */
    /* logo background color */ 
    /* background-color: rgba(255, 255, 255, 0.927);  */
}

/* displaying items in flex style and seperating the logo and navagation-lists */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
    padding-left: 16px;
    /* position: sticky; */

    top:0;
    /* font-weight: bold; */
    /* background-color: black; */
    /* color: white; */
}
.navbar-changed{
    display: flex;
    background-color:black;
    justify-content: space-between;
    padding-left : 16px;
    color: #EEEEEE;
    transition: .3s ease-in-out;
    
}

ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    align-items: center; /* align items in center in straight-line (aka cross-axis "|" ) */
}

ul li{
    padding-left: 12px;
}

.navigate{
    padding-right: 2em;
    display: flex;
    justify-content: center;
}


a{
    color: black;
}